@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family:'Poppins', sans-serif;
    background: url(admin.jpg);
    background-size:cover ;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.slidebar{
    position: absolute;
    left: 0px;
    width: 250px;
    height: 100%;
    background: #042331;
    opacity: 0.7;
    transition: all .5s ease;
    font-family: Copperplate, Papyrus, fantasy; 
    font-weight: bold;
}

.slidebar header
{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
}

.slidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 17px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid black;
    transition: .4s;
    padding-bottom: 2.6%;
}

ul li:hover a{
    padding-left: 10px;
}

.slidebar i{
    margin-top: 10px;
}

.slidebar ul a i{
    margin-right: 14px;
}

.slidebar ul li.sign-out{
    margin-top: 1.7in;
}

.wrapper {
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 800px;
    background-color:aliceblue;
    margin-top: 0%;
    transform: translate(5%, 15%);
}

h4 {
    letter-spacing: -1px;
    font-weight: 400;
}

.img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover
}

#img-section p,
#deactivate p {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify
}

#img-section b,
#img-section button,
#deactivate b {
    font-size: 14px
}

label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px
}

.form-control {
    border-radius: 10px
}

input[placeholder] {
    font-weight: 500
}

.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #0779e4
}

select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px
}

select:focus {
    outline: none
}

.button {
    background-color: #fff;
    color: #0779e4
}

.button:hover {
    background-color: #0779e4;
    color: #fff
}

.btn-primary {
    background-color: #0779e4
}

.danger {
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd
}

.danger:hover {
    background-color: #e20404;
    color: #fff
}

@media(max-width:576px) {
    .wrapper {
        padding: 25px 20px
    }

    #deactivate {
        line-height: 18px
    }
}