
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: large;
}

.data {
    width: 75%;
    height: 70%;
    position: absolute;
    transform:translate(17%,0%);
    opacity:0.9;
}

.kimi {
    font-family: 'Brush Script MT', cursive;
    font-size: 70px;
    margin-right: 250px;
    margin-left: 40%; 
    margin-bottom: 20px;
    margin-top: 95px;
    color:aqua;
    top:30%;
}


    

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding:0;
}

.main{
    max-width: auto;
    margin:auto;
    font-family: Copperplate, Papyrus, fantasy; 
    font-weight: bold;
    font-size: large;
}

.main ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.main ul li{
    display: inline-flex;
   
    margin: 5px;
    padding: 5px;
}

.main ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 2px solid transparent;
    transition: 0.6s ease;
}

.main ul li .active a
{
    background-color: #fff;
    color: #000;
}
                
.main ul li a:hover
{
    background-color: green;
    color: yellow;
}

.title
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    font-size: 65px;
    font-family: Copperplate, Papyrus, fantasy; 
    font-weight: bold;
    color:white;
    margin-bottom: 10px;
    margin-top: 2px;
}

.logo img
{
    float:left;
    width:180px;
    margin-left:20px;
    height:auto;
}

.submenu-1{
    display: none;
    top:7%;
}

.main ul li:hover .submenu-1
{
    display: block;
    position: absolute;
    background:none;
    margin-top: 7px;
    margin-left: -55px;
    border: 1px solid transparent;
}

.main ul li:hover .submenu-1 ul
{
    display: block;
    margin: 7px;
}

.main ul li:hover .submenu-1 ul li
{
    width: 90px;
    padding: 2px;
    border-bottom: 1px solid green;
    background: transparent;
    opacity: 1.0;
    text-align: left;
}

#section1
{
    height:100vh;
    background: url(i1.jpg);
    background-size: cover;
    background-position: center;
}

#section2
{
    height:100vh;
    background: url(i1.jpg);
    background-size: cover;
    background-position: center;
}
.sign-up {
    width: 470px;
    position: absolute;
    top: 48%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgb(9, 37, 44);
    opacity: 0.8;
    padding-left: 35px;
    font-family:sans-serif;
    font-weight: normal;
}

.sign-up h1 {
    font-size: 30px;
    border-bottom: 5px solid #4caf50;
    margin-bottom: 15px;
    padding: 10px 0;
    text-align: center;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 17px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 17px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.custom {
    font-size: 15px;
    opacity: 0.7;
}

.btn {
    width: 90%;
    background: none;
    border: 3px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 8px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

::placeholder {
    color: aliceblue;
    opacity: 0.9;
}

.btn-1 {
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
}

.check-box {
    font-size: 19px;
}

#section1 .sign-up{
    opacity:1.0;
}

#section1 .he{
    transform: translate(60%,200%);
    font-size: x-large;
}

#section1 .he a{
    color: white;
}   

#section1 .he a:hover{
    color:tomato;
}   

#section2 .sign-up{
    left:50%;
    top:150%;
    opacity:1.0;
}


/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 90%;
    background: none;
    color: white;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    align-content: center;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 42%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }




  #section1 .btn{
      width:30%;
      transform: translate(100%,-20%);
      font-size:20px;
      font-family: sans-serif;
  }

  #section1 .btn:hover{
    color:aqua;
}